html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.banner {
  background-color: lightgray;
  position: sticky;
  top: 0;
}

.banner-container {
  display: flex;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
}

img {
  margin: 1em;
  height: 2em;
}

img.headshot {
  border-radius: 50%;
  height: 4em;
}

h1 {
  margin: 1em;
}

h2 {
  text-align: center;
  text-decoration: underline;
}

h3 {
  display: inline;
  width: fit-content;
}

section {
  padding: 1em;
  max-width: 1280px;
  margin: 0 auto;
}

article {
  margin: 2em 0;
}

footer {
  background-color: lightgray;
}

.footer-container {
  padding: 1em;
  max-width: 1280px;
  margin: 0 auto;
}
