<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">
		<link rel="shortcut icon" type="image/x-icon" href="{{ '/static/favicon.ico' | url }}">
		<link rel="stylesheet" href="{{ '/static/styles.css' | url }}">
		<link rel="stylesheet" href="{{ '/static/prism.css' | url }}">
		<meta
			property="og:description"
			content="{{ description or metadata.description }}"
		/>
		<meta
			property="og:image"
			content="https://raw.githubusercontent.com/fildon/train-ride/main/train-ride.png"
		/>
		<meta property="og:image:type" content="image/png" />
		<meta property="og:image:width" content="1280" />
		<meta property="og:image:height" content="640" />
		<meta name="twitter:card" content="summary_large_image" />
		<meta property="twitter:domain" content="rupertmckay.com" />
		<meta property="twitter:url" content="https://rupertmckay.com" />
		<meta name="twitter:title" content="{{ title or metadata.title }}" />
		<meta
			name="twitter:description"
			content="{{ description or metadata.description }}"
		/>
		<meta
			name="twitter:image"
			content="https://raw.githubusercontent.com/fildon/train-ride/main/train-ride.png"
		/>
	</head>
	<body>
		<header class="horizontal-spread">
			<img
				src="../../static/headshot.jpeg"
				alt="Headshot of Rupert"
				class="rounded wonky"
				height="64"
				width="64"
			/>
			<h1><a href="../../.">Rupert McKay</a></h1>
		</header>
		<pre aria-hidden="true" class="morse">
█ ███ █
███ ███
</pre>
		{{ content | safe }}
		<pre aria-hidden="true" class="morse">
█ ███ █
███ ███
		</pre>
	</body>
</html>