---
layout: layouts/base.njk
permalink: /blog/
---
<ul>
{%- for blogpost in collections.blog | reverse -%}
  <li>
    <time class="postlist-date" datetime="{{ blogpost.date | htmlDateString }}">{{ blogpost.date | readableDate }}</time>
    <a href="{{ blogpost.url | url }}">{% if blogpost.data.title %}{{ blogpost.data.title }}{% else %}<code>{{ blogpost.url }}</code>{% endif %}</a>
  </li>
{%- endfor -%}
</ul>
