---
layout: layouts/base.njk
permalink: /
---

<section class="stack">
	<h2 id="side-projects">Side projects</h2>
	<article>
		<header>
			<h3>
				<a id="boids" href="./boids">Boids</a>
				<a class="hash-link" href="#boids">#</a>
			</h3>
		</header>
		<p>
			An implementation of an artificial life program, first developed in the
			1980s. In brief, just three simple rules lead to intelligent flocking
			behaviour. Implemented all my own tooling from the groundup, including
			vector algebra and dynamic frame loop adjustments.
		</p>
	</article>
	<article>
		<header>
			<h3>
				<a id="learn-braille" href="./learn-braille">Learn Braille</a>
				<a class="hash-link" href="#learn-braille">#</a>
			</h3>
		</header>
		<p>
			A simple flashcard app for learning Braille. Uses the Leitner method of
			spaced repetition to gradually build up your confidence.
		</p>
	</article>
	<article>
		<header>
			<h3>
				<a id="learn-morse" href="./learn-morse">Learn Morse</a>
				<a class="hash-link" href="#learn-morse">#</a>
			</h3>
		</header>
		<p>
			A simple flashcard app for learning Morse Code. Uses a custom spaced
			repetition method.
		</p>
	</article>
	<article>
		<header>
			<h3>
				<a id="flags" href="./flags">Flags</a>
				<a class="hash-link" href="#flags">#</a>
			</h3>
		</header>
		<p>A minimal interactive demonstration of semaphore flags.</p>
	</article>
	<article>
		<header>
			<h3>
				<a id="random-grid" href="./random-grid">Random Grid</a>
				<a class="hash-link" href="#random-grid">#</a>
			</h3>
		</header>
		<p>Using only 2 by 1 tiles, randomly tiles a grid.</p>
	</article>
	<article>
		<header>
			<h3>
				<a id="train-ride" href="./train-ride">Train Ride</a>
				<a class="hash-link" href="#train-ride">#</a>
			</h3>
		</header>
		<p>
			A tribute to the vaporwave aesthetic. Take a sunset trip through the
			infinite metropolis. Rendered with
			<a href="https://threejs.org/">three.js</a>
		</p>
	</article>
	<article>
		<header>
			<h3>
				<a id="rust-render" href="./rust-render">Rust Render</a>
				<a class="hash-link" href="#rust-render">#</a>
			</h3>
		</header>
		<p>
			A Julia Set renderer whose initial offset value rotates through the
			complex plane. Primarily written in Rust compiled to WASM, and called from
			JavaScript.
		</p>
	</article>
	<article>
		<header>
			<h3>
				<a id="lindenmayer" href="./lindenmayer">Lindenmayer</a>
				<a class="hash-link" href="#lindenmayer">#</a>
			</h3>
		</header>
		<p>
			A Lindenmayer fractal generator. Creates a random branch structure and
			recursively reapplies it to itself. Written solely in Vanilla JS and HTML5
			Canvas.
		</p>
	</article>
	<article>
		<header>
			<h3>
				<a id="beads" href="./Beads">Beads</a>
				<a class="hash-link" href="#beads">#</a>
			</h3>
		</header>
		<p>
			A little Connect4 implementation. Can you beat the AI? Uses minimax over a
			limited depth, falling back to a heuristic value heatmap when that depth
			is exceeded.
		</p>
	</article>
	<article>
		<header>
			<h3>
				<a id="langton" href="./langton">Langton's Ant</a>
				<a class="hash-link" href="#langton">#</a>
			</h3>
		</header>
		<p>
			A simple visualizer for Langton's Ant, a cellular automaton first
			described by Christopher Gale Langton in 1986.
		</p>
	</article>
	<article>
		<header>
			<h3>
				<a id="fireworks" href="./fireworks">Fireworks</a>
				<a class="hash-link" href="#fireworks">#</a>
			</h3>
		</header>
		<p>
			A simple firework simulation. Click or tap the screen to create an
			explosion. An explosion of bright particles and trailing embers will shoot
			out in 3D, as if you are watching a real explosion from a safe distance.
		</p>
	</article>
	<article>
		<header>
			<h3>
				<a id="cities" href="./cities">Cities</a>
				<a class="hash-link" href="#cities">#</a>
			</h3>
		</header>
		<p>
			A simple population center simulation. Cities emerge over time, and
			connect to one another. As they form more connections, they can grow in
			size. But if they are not connected to a smaller city, they collapse and
			decay.
		</p>
	</article>
	<article>
		<header>
			<h3>
				<a id="noisy" href="./noisy">Noisy</a>
				<a class="hash-link" href="#noisy">#</a>
			</h3>
		</header>
		<p>
			Perlin noise in 2D starts by generating a grid of random unit vectors. But
			what if the unit vectors were smoothly rotating over time? In this project
			a create a smoothly animated Perlin noise field.
		</p>
	</article>
	<article>
		<header>
			<h3>
				<a id="dvd-bounce" href="./dvd-bounce">DVD Bounce</a>
				<a class="hash-link" href="#dvd-bounce">#</a>
			</h3>
		</header>
		<p>The famous bouncing DVD logo animation.</p>
	</article>
	<article>
		<header>
			<h3>
				<a id="time-after-time" href="./time-after-time">Time After Time</a>
				<a class="hash-link" href="#time-after-time">#</a>
			</h3>
		</header>
		<p>
			A clock represents the passage of time by the movement of three arms
			rotating in front of a circular face. But what if we broke those rules?
			'Time After Time' is an experiment in visualizing time in different ways.
		</p>
	</article>
	<article>
		<header>
			<h3>
				<a id="cross-view" href="./cross-view">Cross View</a>
				<a class="hash-link" href="#cross-view">#</a>
			</h3>
		</header>
		<p>
			A cube is spinning in space, with six orbiting lights. The scene is
			rendered twice, once for each eye. If you cross your eyes to each fix on a
			different half of the screen, your perception will be tricked into
			perceiving depth.
		</p>
	</article>
	<article>
		<header>
			<h3>
				<a id="voronoi" href="./voronoi">Voronoi</a>
				<a class="hash-link" href="#voronoi">#</a>
			</h3>
		</header>
		<p>
			A little experiment with voronoi cells. A cloud of points travel randomly
			across the world space, while every frame the space is divided by Voronoi
			cells. The heavy lifting is done by
			<a href="https://github.com/d3/d3-delaunay">d3-delaunay</a>
		</p>
	</article>
	<article>
		<header>
			<h3>
				<a id="anima-tile" href="./anima-tile">Anima Tile</a>
				<a class="hash-link" href="#anima-tile">#</a>
			</h3>
		</header>
		<p>
			Animates a rotating tiling system. I got the idea for this while looking
			at a brick wall and observing that the conventional brick laying pattern
			is great at preventing slipping vertically but not horizontally. So I
			started wondering about tiling patterns which don't allow slippage in any
			direction, and I made this to help me visualize it.
		</p>
	</article>
	<article>
		<header>
			<h3>
				<a id="gravatar-lookup" href="./gravatar-lookup">Gravatar Lookup</a>
				<a class="hash-link" href="#gravatar-lookup">#</a>
			</h3>
		</header>
		<p>
			A minimal interface for performing Gravatar lookups. If a matching
			Gravatar is not found, an
			<a href="https://en.wikipedia.org/wiki/Identicon">Identicon</a>
			is displayed instead.
		</p>
	</article>
	<article>
		<header>
			<h3>
				<a id="shiny-measure" href="./shiny-measure">Shiny Measure</a>
				<a class="hash-link" href="#shiny-measure">#</a>
			</h3>
		</header>
		<p>
			A simple weight tracker. Data is only stored in localstorage, unique to
			your device and browser. No networking, no tracking, not a single API call
			after the page load.
		</p>
	</article>
	<article>
		<header>
			<h3>
				<a id="convection" href="./convection">Convection</a>
				<a class="hash-link" href="#convection">#</a>
			</h3>
		</header>
		<p>
			A one-day hack to build a physics simulation, which aims to demonstrate
			that temperature mixing is an emergent property of thermal expansion. Got
			the idea for this while watching a pot of water boil.
		</p>
	</article>
	<article>
		<header>
			<h3>
				<a id="phong" href="./phong">Phong</a>
				<a class="hash-link" href="#phong">#</a>
			</h3>
		</header>
		<p>
			Hand made raytracer using only Typescript. A fun experiment in the
			mathematics of perspective geometry. Performance is very much bottlenecked
			by the browser. But becomes fully memoized after 100 frames.
		</p>
	</article>
</section>
